{{>layouts/header}}
    <div>
        {{# id}} <!--아이디 있을때-->
            <h1>{{id}} {{username}} Hello!</h1>
        {{/ id}}
        {{^ id}} <!--아이디 없을때-->
            <h1>{{username}} Hello!</h1>
        {{/ id}}
    </div>
    <button type="button" class="btn btn-primary">Primary</button>
{{>layouts/footer}}